.post-container {
    position: relative;
    max-width: 300px;
    width: 100%;
    border: 1px solid #ddd;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    overflow: hidden;
}

.post-container .profile-bar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
    overflow: hidden;
}

.post-container .profile-bar .user-profile-picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 1px;
}

.post-container .profile-bar .user-username {
    font-weight: bold;
    font-size: 16px;
    margin-left: 10px;
}

.post-container img {
    max-width: 100%;
    height: auto;
    overflow: hidden;
}

.interaction-layer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.like-icon,
.comment-icon,
.reply-button {  
    cursor: pointer;
}

.like-icon.liked {
    color: blue; 
}

.comment-text,
.first-comment-prompt {
    text-align: left;
    padding-left: 10px;
}

.first-comment-prompt {
    color: grey;
}

.comments-dropdown {
    background-color: #fff;
    border-top: 1px solid #ddd;
    overflow: hidden;
}

.comments-scroll-box {
    max-height: 200px;
    overflow-y: scroll;
    text-align: left;
}

.comment {
    text-align: left;
    margin: 3px 0;
    padding: 3px 0;
}

.comment-content {
    display: flex;
    align-items: center;  /* Align items vertically in the center */
  }
  
  .comment-text {
    flex-grow: 1;  /* Allow the comment text to take up available space */
    margin: 0 10px;  /* Add some spacing between the text and the buttons/icons */
  }
  
  .reply-button {
    cursor: pointer;  /* Make it look clickable */
  }
  
  .fas {
    cursor: pointer;  /* Make icons look clickable */
  }
  
  .comment .comment {
    margin-top: 2px; /* Reduce margin-top for nested comments */
    margin-bottom: 2px; /* Reduce margin-bottom for nested comments */
  }

  .comment-replies {
    margin-left: 20px;
}

.toggle-icon {
    cursor: pointer;
    margin-left: 5px;
}

.toggle-icon.fa-chevron-up::before {
    content: "\f077";
}

.toggle-icon.fa-chevron-down::before {
    content: "\f078";
}

textarea {
    width: 100%;
    padding: 5px;
    resize: none;
}

.reply-button {  /* Added reply-button styling */
    color: blue;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-weight: bold;
    transition: color 0.3s ease;
}

.reply-button:hover {
    color: darkblue;
}

@media only screen and (max-width: 600px) {
    .interaction-layer {
        padding: 4px 8px;
    }

    .post-container .profile-bar .user-username {
        font-size: 14px;
    }

    .post-container .profile-bar .user-profile-picture {
        width: 30px;
        height: 30px;
    }
}
