.profile-page {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f5f5f5;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #2c3e50;
    color: #fff;
    border-radius: 10px;
    width: 100%;
}


.profile-header, 
.user-posts {
    width: 100%;
    max-width: 600px;
}

.profile-pic {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 20px;
    object-fit: cover;
}

.edit-icon {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    margin-left: 10px;
    cursor: pointer;
}

h1, h2, p {
    display: flex;
    align-items: center;
    justify-content: center;
}

.follow-info {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 20px;
}

.user-posts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-top: 20px;
}

.post-image {
    width: 100%;
    height: 200px;  /* Set a fixed height. Adjust as required. */
    object-fit: cover;  /* This will ensure the image fills the box without distorting. */
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.fas.fa-edit {
    font-size: 20px;      /* Adjust size */
    color: #007bff;       /* Adjust color */
    cursor: pointer;      /* Change cursor on hover to indicate clickability */
    margin-left: 8px;     /* Space from adjacent elements */
    transition: color 0.3s; /* Smooth color transition on hover for a subtle effect */
}

/* Optional: Change color on hover */
.fas.fa-edit:hover {
    color: #0056b3;
}

/* Overlapping everything with a dark semi-transparent background */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7); /* Black with 70% opacity */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it's above everything else */
  }
  
  /* Modal styling */
  .modal {
    position: relative;
    width: 60%; /* Can adjust to your needs */
    max-width: 500px; /* Can adjust to your needs */
    background-color: white;
    padding: 5px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Soft shadow around the modal */
  }
  
  /* Close button styling */
  .modal .close-button {
    position: absolute;
    right: 15px;
    top: 10px;
    border: none;
    background: transparent;
    font-size: 24px;
    line-height: 1;
    cursor: pointer;
    color: #666; /* Gray color */
  }
  
  .modal .close-button:hover {
    color: #333; /* Darker gray when hovered */
  }
  